@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	font-family: 'ProximaNova_Semibold';
	font-size: 100%;
}

body {
	color: #404040;
	font-size: 62.5%;
	background: #DDD;
}

legend { display: none; }
ol, ul { list-style: none; }
a:hover { text-decoration: underline; }
table { border-collapse: collapse; border-spacing: 0; }
a:active, button:active { position: relative; top: 1px; }

header, nav, section,
article, aside, footer { display: block; }

header > div, main > div, footer > div {
	width: 835px;
	margin: 0 auto;
}