@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	font-family: inherit;
	font-size: 100%;
}

body {
	color: #;
	font-size: 62.5%;
	font-family: arial, verdana, helvetica, sans-serif;
	background: url(../images/bkg/) no-repeat;
}

legend { display: none; }
ol, ul { list-style: none; }
a:hover { text-decoration: underline; }
table { border-collapse: collapse; border-spacing: 0; }

header, nav, section,
article, aside, footer { display: block; }

section#wrapper {
	
}

/* -------------|
/* - HEADER
/* ----- */

header {
	
}

/* -------------|
/* - CONTENT
/* ----- */

article {
	
}

/* -------------|
/* - SIDEBAR
/* ----- */

aside {
	
}

/* -------------|
/* - FOOTER
/* ----- */

footer {
	
}

/* Image Replacement */

.image-replace {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

/* Image Replacement para Inputs */

.input-replace {
	display: block;
	content: "";
	line-height: 0;
	text-indent: -9999px;
	cursor: pointer;
	border: none !important;
}